@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-default: var(--font-roboto);
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif, Georgia, "Times New Roman", Times,
    serif; */
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  height: 100vh;
  /* overflow: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: block; /* 确保是默认的 block 布局 */
  /* background: linear-gradient(to right, #36019a, #cc028f); */
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-roboto);
  color: rgb(255, 217, 252);
}
.h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-roboto);
  color: rgb(255, 217, 252);
}
.p {
  color: rgb(255, 217, 252);
}
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.btn-glow {
  background-color: transparent;
  /* border: 1px solid rgba(255,255,255,0.7); */
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  box-shadow: 
    0 0 5px rgba(255, 255, 255, 1), /* 外发光 */
    inset 0 0 1px rgba(255, 255, 255, 1); /* 内发光 */
}

.btn-glow:hover {
  /* background-color: white;
  color: #6b46c1; Purple color */
  box-shadow: 
    0 0 15px rgba(255, 255, 255, 1),
    inset 0 0 1px rgba(255, 255, 255, 1); /* 内发光 */;

}

.icon {
  width: 25px;
  height: 25px;
  color: white;
}
